body{
    background-image:url(../images/earth-1756274.jpg);
    background-size:100%;
    background-attachment: fixed;
    margin: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-right: 0px !important
}